<%=render partial: '/partials/filter', locals: {articles: @articles}%>

<%@articles.each do |article|%>
<div>

    
        <%=render partial: '/partials/article', locals: {article: article}%><br>
    

        <%=render partial: '/partials/form', locals: {comment: @comment, article: article, submit_text: "Submit Comment"}%>

</div>
<%end%>

<%= paginate @articles %>