 <% if instance.errors.any? %>
   <div id="error_explanation">
    <h4>Error:</h4>
     <ul>
       <% instance.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
 <%=flash[:error2]%>