<div>
  <%= form_tag("/articles", method: "get") do %>
    <%= label_tag("Filter Source")%>
    <%= select_tag "source", options_for_select(Article.all_sources), include_blank: true, class:"custom-select custom-select-lg mb-3",onchange:'if(this.value != 0) { this.form.submit(); }'%>
  <% end %>
</div>

