Replies:

    <div class="card">
        <ul>
            <% comment.replies.each do |reply| %>
                <li><%= reply.content%></li>
            <%end%>
        </ul>
    </div>
    <%= link_to 'Reply', article_comments_path(@article)%>
</div>
   